.git
yolo/weights/*.weights
faster-retina/models/deepfashion2/*.pth
faster-retina/models/modanet/*.pth
__pycache__
.vscode
deepfashion2_dataset
/*.json
df2predictor.py
results-googel
evaluate.py
output
coco_json
log_map.txt
deepfasion2_retrieval_test.py
image_yolo_demo.py
image_retrieval.py
models_time.py
new_image_demo2.py
resultados_por_modelo_modanet.pkl
retrieval_json_test_gen.py
yolo_df2_shop_descriptors_new.npy
yolo_df2_shop_descriptors_new2.npy
yolo_df2_shop_descriptors_new4.npy
yolo_df2_shop_descriptors_retrieval_test_2.npy
yolo_df2_shop_descriptors_retrieval_test_3.npy
yolo_df2_shop_descriptors_retrieval_test.npy
yolo_df2_shop_descriptors_retrieval_test_4.npy
yolo_df2_shop_descriptors.npy
asdasd.py
retrieval
Deepfashion2Val
*.eps
grafico_clases.py
mask_df2_shop_descriptors_retrieval.npy
mask_df2_shop_descriptors.npy
ola.py